extends base

block body
  <div class="page-wrapper">
      <!-- Bread crumb -->
      <div class="row page-titles">
          <div class="col-md-5 align-self-center">
              <h3 class="text-primary">List of Restaurants</h3> </div>
          <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                  <li class="breadcrumb-item active">List of Restaurants</li>
              </ol>
          </div>
      </div>
      <!-- End Bread crumb -->
      <!-- Container fluid  -->
      <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="card card-outline-primary">
                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table">
                                  <thead>
                                  <tr>
                                      //<th>#</th>
                                      <th>Name</th>
                                      <th>City</th>
                                      <th>Cuisine</th>
                                      <th>Email</th>
                                      //<th>Available Table</th>
                                      <th>Action</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  each rest in restaurants
                                    <tr>
                                        //<th scope="row">1</th>
                                        <td>#{rest.restaurantName}</td>
                                        <td><span class="badge badge-primary">#{rest.restaurantCity}</span></td>
                                        <td>#{rest.restaurantType}</td>
                                        <td>#{rest.email}</td>
                                        //<td class="color-primary">$21.56</td>
                                        <td>
                                            <a href="/view-restaurant/#{rest.id}"><i class="fa fa-eye mr-1 text-green"></i></a>
                                            <a href="/update-restaurant/#{rest.id}"><i class="fa fa-edit text-green"></i></a>
                                        </td>
                                    </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End PAge Content -->
      </div>
      <!-- End Container fluid  -->
      <!-- footer -->
      <footer class="footer"> © 2018 All rights reserved.</footer>
      <!-- End footer -->
  </div>
