<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li> <a href="index.html"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a></li>
                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-cutlery"></i><span class="hide-menu">Manage Restaurant</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="email-compose.html">Update Restaurant</a></li>
                        <li><a href="email-read.html">List of Restaurants</a></li>
                        <li><a href="email-inbox.html">View Restaurant</a></li>
                    </ul>
                </li>

                <li> <a class="has-arrow  " href="#" aria-expanded="false"><i class="fa fa-tags"></i><span class="hide-menu">Manage Reservation</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="ui-alert.html">Update Reservation</a></li>
                        <li><a href="ui-button.html">List of Reservation</a></li>
                        <li><a href="ui-dropdown.html">View Reservation</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>