extends base

block body
  <!-- Page wrapper  -->
  <div class="page-wrapper">
      <!-- Bread crumb -->
      <div class="row page-titles">
          <div class="col-md-5 align-self-center">
              <h3 class="text-primary">#{reservation.firstName}'s Reservation</h3> </div>
          <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                  <li class="breadcrumb-item active">#{reservation.firstName}'s Reservation</li>
              </ol>
          </div>
      </div>
      <!-- End Bread crumb -->
      <!-- Container fluid  -->
      <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="card card-outline-primary">
                      <div class="card-body">
                          <form action="#">
                              <div class="form-body">
                                  <h3 class="card-title m-t-15">#{reservation.firstName}'s Reservation Info</h3>
                                  <hr>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <p><span class="text-inverse">Full Name:</span> #{reservation.firstName} #{reservation.lastName}</p>
                                            //<p>#{restaurant.openingHrs}</p>
                                        </div>
                                        <div class="col-md-8">
                                            <p><span class="text-inverse">Date & Time:</span> #{reservation.reservationDate}</p>
                                        </div>
                                        <div class="col-md-12 mt-4">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div><span class="text-inverse">Reserved For:</span> #{reservation.attendCount} Persons</div>
                                                </div>
                                                <div class="col-md-4"><span class="text-inverse">Conatct No:</span> #{reservation.phoneNumber}</div>
                                                <div class="col-md-4"><span class="text-warning">Status:</span> #{reservation.status}</div>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End PAge Content -->
      </div>
      <!-- End Container fluid  -->
      <!-- footer -->
      <footer class="footer"> © 2018 All rights reserved.</footer>
      <!-- End footer -->
  </div>
  <!-- End Page wrapper  -->
