extends base

block body
  <!-- Page wrapper  -->
  <div class="page-wrapper">
      <!-- Bread crumb -->
      <div class="row page-titles">
          <div class="col-md-5 align-self-center">
              <h3 class="text-primary">#{restaurant.restaurantName}</h3> </div>
          <div class="col-md-7 align-self-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                  <li class="breadcrumb-item active">#{restaurant.restaurantName}</li>
              </ol>
          </div>
      </div>
      <!-- End Bread crumb -->
      <!-- Container fluid  -->
      <div class="container-fluid">
          <!-- Start Page Content -->
          <div class="row">
              <div class="col-lg-12">
                  <div class="card card-outline-primary">
                      <div class="card-body">
                          <form action="#">
                              <div class="form-body">
                                <h3 class="card-title m-t-15">#{restaurant.restaurantName}</h3>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4">
                                      <p>#{restaurant.restaurantCity}</p>
                                      //<p>#{restaurant.openingHrs}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p class="text-warning">#{restaurant.restaurantType}</p>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-info" style="font-size:13px;">#{restaurant.email}</div>
                                    </div>
                                    <div class="col-md-12 mt-4">
                                        <h5>Table Plans</h5>
                                        <div class="row">
                                            <div class="col-md-4">Two Tables: #{restaurant.twoSeatTables}</div>
                                            <div class="col-md-4">Four Tables: #{restaurant.fourSeatTables}</div>
                                            <div class="col-md-4">Six Tables: #{restaurant.sixSeatTables}</div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
          <!-- End PAge Content -->
      </div>
      <!-- End Container fluid  -->
      <!-- footer -->
      <footer class="footer"> © 2018 All rights reserved.</footer>
      <!-- End footer -->
  </div>
  <!-- End Page wrapper  -->
